// Colours
$white: #ffffff;
$inviteBackground: #fff7ee;
$mediumGrey: #979797;
$deepBlue: #033fff;
$mediumBlue: #0047ff;
$buttonDefault: #a2a8b7;
$formFieldColor: #555555;
$formFieldBackground: #f7f7fa;
$success: #27ae60;
$error: #e30000;
