.dashboard {
  @include respond-above(1040) {
    display: flex;
    justify-content: space-between;
    width: rem-calc(1035);
  }

  &__aside {
    text-align: center;

    @include respond-above(1040) {
      display: block;
      width: rem-calc(328);
    }
  }

  &__users {
    @include respond-above(1040) {
      width: rem-calc(680);
    }

    &-loading {
      text-align: center;
      padding: rem-calc(16);
      display: flex;
      justify-content: center;
    }
  }
}
