.dashboard {  
  @include respond-above(1040) {
    display: flex;
    justify-content: space-between;
    width: 1035px;
  }

  &__header {
    margin-bottom: 24px;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
  }

  &__copy {
    line-height: 150%;
  }

  &__aside {
    display: none;
    text-align: center;

    @include respond-above(1040) {
      display: block;
      width: 328px;
    }
  }

  &__users {
    @include respond-above(1040) {
      width: 680px;
    }

    &-loading {
      text-align: center;
      padding: 16px;
      display: flex;
      justify-content: center;
    }
  }
}
