.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: rem-calc(1035);
  margin: 0 auto;
  padding: 0 rem-calc(16);
  position: relative;

  @include respond-above(1040) {
    padding: 0;
  }
}
