.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1035px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;

  @include respond-above(1040) {
    padding: 0;
  }
}
