.invite {
  padding: rem-calc(24);
  background: #fff7ee;
  border-radius: 12px;
  display: none;

  @include respond-above(1040) {
    display: block;
  }

  &__img {
    width: rem-calc(96);
    height: rem-calc(96);
    display: block;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.12);
    margin: 0 auto 24px;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: rem-calc(17);
    line-height: rem-calc(20);
    margin-bottom: rem-calc(16);
  }

  &__copy {
    font-size: rem-calc(15);
    line-height: rem-calc(18);
    color: #979797;
    margin-bottom: rem-calc(24);
  }

  &__link {
    height: 34px;
    background: #ffffff;
    border-radius: 12px;
    margin-bottom: rem-calc(24);
    font-size: rem-calc(15);
    line-height: rem-calc(34);
    text-decoration-line: underline;
    color: #033fff;
    text-align: center;
    display: inline-block;
    padding: 0 rem-calc(8);
  }
}
