.login {
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  max-width: 500px;
  margin: 0 auto;

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 24px;
  }

  &__copy {
    margin-bottom: 24px;
    line-height: 150%;
    color: #555555;
  }

  &__textfield {
    margin-bottom: 24px;
  }
}
