.login {
  padding: rem-calc(24);
  background: #ffffff;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  max-width: 500px;
  margin: 0 auto;

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: rem-calc(22);
    line-height: rem-calc(26);
    margin-bottom: rem-calc(24);
  }

  &__copy {
    margin-bottom: rem-calc(24);
    line-height: 1.5;
    color: #555555;
  }

  &__textfield {
    margin-bottom: rem-calc(24);
  }
}
