.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 16px 64px;

  @include respond-above(1040) {
    min-height: calc(100vh - 64px);
    padding: 16px 0;
  }

  &--dashboard {
    align-items: flex-start;
  }
}
