.main-nav {
  display: flex;

  &__menu {
    &:focus,
    &:hover,
    &:active {
      text-decoration: underline;
    }

    @include respond-above(768) {
      display: none;
    }
  }

  &__list {
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    right: 0;
    background: #e5e5e5;
    padding-bottom: rem-calc(8);
    display: none;

    @include respond-above(768) {
      display: flex;
      padding-bottom: 0;
      position: static;
    }

    .menu-open & {
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      @include respond-above(768) {
        display: flex;
        border-bottom: 0;
      }
    }
  }

  &__item {
    margin-left: rem-calc(16);
    margin-right: rem-calc(16);
    margin-bottom: rem-calc(16);

    @include respond-above(768) {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  &__signup {
    background: $white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    height: rem-calc(35);
    line-height: rem-calc(35);
    padding: 0 rem-calc(16);
    display: inline-block;
  }
}
