.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem-calc(16) rem-calc(16) rem-calc(64);

  @include respond-above(1040) {
    min-height: calc(100vh - #{rem-calc(64)});
    padding: rem-calc(16) 0;
  }

  &--dashboard {
    align-items: flex-start;
  }
}
