.button {
  border: 1px solid $buttonDefault;
  background: $buttonDefault;
  border-radius: 12px;
  color: $white;
  width: 100%;
  height: rem-calc(48);
  cursor: pointer;
  transition: background-color 0.25s ease;
  outline: 0;

  // &:focus,
  // &:hover,
  // &:active {
  //   background: $white;
  //   color: $buttonDefault;
  // }

  &--active {
    color: $white;
    background-color: $mediumBlue;
    border-color: $mediumBlue;
  }

  &--copy {
    height: rem-calc(40);
    line-height: rem-calc(40);
    background: $white;
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: rem-calc(14);
    color: $deepBlue;
    font-weight: bold;
  }

  &--invite-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 0;

    @include respond-above(1040) {
      display: none;
    }
  }
}
